@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model PolskaPaliwo.Models.CarAd

@{
    ViewData["Title"] = "DetailedCarAdvertisementView";
}

<h1>DetailedCarAdvertisementView</h1>

<div>
    <h4>CarAd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoorsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoorsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstOwner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<div>
    @if (Model.CreatorId == UserManager.GetUserId(User))
    {
        @Html.ActionLink("Edit advertisement", "UpdateToGenerateForm", new { Id = Model.Id }) 
    }
    <br>
    @if (Model.CreatorId == UserManager.GetUserId(User))
    {
        @Html.ActionLink("Delete advertisement", "DeleteToGenerateForm", new { Id = Model.Id }) 
    }
    <br>
    <a href="@Url.Action("ResultsForPrevious", "CarAd")">Back to search results</a>
</div>
