@*@model IEnumerable<PolskaPaliwo.Models.CarAd>*@
@{
    // Retrieve recommended car lists from ViewBag
    var searchresults = ViewBag.SearchResults as List<PolskaPaliwo.Models.CarAd>;
    var recommendedAds = ViewBag.RecommendedAds as List<PolskaPaliwo.Models.CarAd>;
}

@{
    ViewData["Title"] = "SearchResultsView";
}

<link rel="stylesheet" href="~/css/EveryAdvertisementDisplaycss.css" />
<link rel="stylesheet" href="~/css/HideAndShowcss.css" />
<link rel="stylesheet" href="~/css/CollapseAndExpandFeatures.css" />
<link rel="stylesheet" href="~/css/FeedbackForm.css" />

<h1>Search result list</h1>

<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to main page</a>
</p>

@if (searchresults != null && searchresults.Any())
{
    <table class="table table-striped" id="pagination">
        <thead>
            <tr>
                <th>
                    Price
                </th>
                <th>
                    Currency
                </th>
                <th>
                    Condition
                </th>
                <th>
                   Brand
                </th>
                <th>
                   Model
                </th>
                <th>
                   Production year
                </th>
                <th>
                   Mileage
                </th>
                <th>
                   Power
                </th>
                <th>
                   Engine displacement
                </th>
                <th>
                   Fuel type
                </th>
                <th>
                   Drive
                </th>
                <th>
                   Transmission
                </th>
                <th>
                   Type
                </th>
                <th>
                   Number of doors
                </th>
                <th>
                   Colour
                </th>
                <th>
                   Origin country
                </th>
                <th>
                   First owner
                </th>
                <th>
                   Registration year
                </th>
                <th>
                   Location
                </th>
                <th>
                   Telephone
                </th>
                <th>
                   Features
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in searchresults)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mileage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Power)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EngineSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuelType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Drive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Transmission)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoorsNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Colour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginCountry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstOwner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td class="features-cell">
                        <div class="features-content hidden">
                            @foreach (var feature in item.Features)
                            {
                                <div>@feature</div>
                            }
                        </div>
                        <button class="expand-btn">Expand</button>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Carad", new { id = item.Id, source = "fromSearch" })" class="btn btn-primary">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



<input type="checkbox" id="toggleRecommendedAds" style="display: none;">
<label for="toggleRecommendedAds">Hide recommendations</label>

<div id="recommendedAdsSection">
    @if (recommendedAds != null && recommendedAds.Any())
    {
        <div>
            <hr class="custom-hr" />
            <h3>Recommended advertisements</h3>
            <ul class="ad-container">
                @foreach (var carAd in recommendedAds)
                {
                    <a href="@Url.Action("Details", "CarAd", new { id = carAd.Id, source = "fromSearch"})" class="ad-link">
                    <li class="advertisement">
                            @*<img class="ad-image" height="100" width="120" src="@Url.Action("GetImage", "CarAd", new {id = carAd.Id})" />*@
                        <h2 class="ad-heading">@carAd.Brand @carAd.Model</h2>
                        <div class="ad-content">
                            <p>Price: @carAd.Price @carAd.Currency</p>
                            <p>Year: @carAd.ProductionYear</p>
                            <p>Condition: @carAd.Condition</p>
                            <p>Mileage: @carAd.Mileage miles</p>
                        </div>
                    </li>
                    </a>
                }
            </ul>
            <hr class="custom-hr" />
        </div>
    }
</div>






<div>
    <h1 style="text-align: center;">🔵 Feedback scale 🔵</h1>
    <form id="feedbackForm" method="post" asp-controller="User" asp-action="FeedbackSave" class="feedback-form">
        <h3>Please rate your experience:</h3>
        <div class="rating-container">
            <button type="submit" name="ratingScore" value="1" class="rating-button">1</button>
            <button type="submit" name="ratingScore" value="2" class="rating-button">2</button>
            <button type="submit" name="ratingScore" value="3" class="rating-button">3</button>
            <button type="submit" name="ratingScore" value="4" class="rating-button">4</button>
            <button type="submit" name="ratingScore" value="5" class="rating-button">5</button>
        </div>
    </form>
    <div id="thankYouMessage" style="display: none;">
        <p>Thank you for your feedback!</p>
    </div>
</div>



<script>
document.getElementById("feedbackForm").addEventListener("submit", function (event) {
    // UI changes using JavaScript after form submission
    document.getElementById("feedbackForm").style.display = "none";
    document.getElementById("thankYouMessage").style.display = "block";
});
</script>



<script>
    // Get all expand buttons
    const expandButtons = document.querySelectorAll('.expand-btn');

    // Attach click event listeners to each expand button
    expandButtons.forEach(button => {
        button.addEventListener('click', function () {
            const content = this.previousElementSibling;
            content.classList.toggle('expanded');

            if (content.classList.contains('expanded')) {
                this.innerText = 'Collapse';
            } else {
                this.innerText = 'Expand';
            }
        });
    });
</script>
